<div class="container p-5">
    <div class="flex flex-row float-end ">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </div>
   <div class="flex flex-col gap-3 m-9 items-center">
      <h3>How was your experience?</h3>
      <div class="rating">
   <input type="radio" name="rating-1" class="mask mask-star bg-amber-500 " />
   <input type="radio" name="rating-1" class="mask mask-star bg-amber-500" />
   <input type="radio" name="rating-1" class="mask mask-star bg-amber-500" />
   <input type="radio" name="rating-1" class="mask mask-star bg-amber-500" />
   <input type="radio" name="rating-1" class="mask mask-star" />
 </div>
    </div>
 
    <div class="flex flex-col p-5">
      <h3 class="">Talk to us</h3>
      <div class="form-control">
     <label class="label cursor-pointer justify-start">
     <input type="radio" name="radio-10" class="radio bg-slate-300 size-5"/>
     <span class="label-text">Feedback</span> 
     </label>
   </div>
 
   <div class="form-control">
     <label class="label cursor-pointer justify-start">
     <input type="radio" name="radio-10" class="radio bg-slate-300 size-5"/>
     <span class="label-text">Bugfix</span> 
     </label>
   </div>
 
   <div class="form-control">
     <label class="label cursor-pointer justify-start">
     <input type="radio" name="radio-10" class="radio bg-slate-300 size-5"/>
     <span class="label-text">Feature Request</span> 
     </label>
   </div>
    </div>
     
     <div class="p-5">
        <textarea id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300   dark:bg-gray-700 dark:border-gray-600 dark:text-white"></textarea>
    </div>
    
 
    <div class="flex flex-row float-end gap-5 m-5">
      <button class="btn btn-outline pr-10 pl-10">Cancel</button>
      <button class="btn btn-active btn-primary pr-10 pl-10">Submit</button>
    </div>
 </div>
