<p>todo-management works!</p>
<div style="display: flex; flex-direction: column;">
  <div *ngFor="let todo of todos">
    <p>Name: {{todo.name}}</p>
    <p>Creation Date: {{todo.creationDate | date}}</p>
    <p>Status: {{todo.isDone ? 'Done' : 'Pending'}}</p>
    <p *ngIf="todo.completionDate">Completion Date: {{todo.completionDate | date}}</p>
    <hr>
  </div>
  <input [(ngModel)]="newTodoName" placeholder="Enter new todo" />
  <button (click)="addTodo()">Add New Todo</button>
</div>
<!-- <ul>
  <li *ngFor="let person of todoList">
    {{ person.id }} - {{ person.title }} ({{ person.AddedDate | date: 'shortDate' }})
  </li>
</ul>
<div>
  <label for="title"> title: </label>
  <input type="text" id="title"/>
  
  <label for="date">AddedDate:</label>
  <input type="date" id="AddedDate" />

  <button (click)=addTodo()>Add</button>
</div>

<div class="todo-container flex flex-col items-center m-20" *ngIf="todoList && todoList.length">
  <div *ngFor="let todo of todoList" class="todo-item m-10">
    <app-todo-items [todo]="todo"></app-todo-items> -->
  <!-- </div> -->
  <!-- <div>
    <label for="title"> title: </label>
    <input type="text" id="title" />
    
    <label for="date">AddedDate:</label>
    <input type="date" id="AddedDate" />
  
    <button (click)="addTodo()">Add</button>
  </div>
   -->
  <!-- <input type="text" placeholder="Add a new task" class= " focus:ring-2 focus:ring-inset focus:ring-purple-300">
  <button (click)="addTodo()" class="add-todo-btn mt-20 p-10 size-16 cursor-pointer">Add Todo</button>
</div> -->

    <!-- <div>
      <form class="flex flex-row items-center justify-between m-40 text-xl p-2 gap-8">
        <div>
          <input type="text" placeholder="Add a new task" class= " focus:ring-2 focus:ring-inset focus:ring-purple-300">
        </div> -->
        <!-- <div class="flex cursor-pointer w-20 bg-purple-300 rounded-md p-2"> -->
            <!-- <div class="todo-list" style="display: flex; flex-direction: column;"> -->
              <!-- <div class="todo-list"> -->
                <!-- <app-todo-items *ngFor="let todo of todos" [todo]="todo"></app-todo-items> -->
              <!-- </div> -->
          <!-- <button (click)="addTodo()"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 ">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
           </svg></button>
        </div> -->
        <!-- </div> -->
        <!-- </form>
    </div>
 </div> -->
 
 
